 h1
 {
    text-align: center;
 }
 
 body
 {
    background-color: lightgoldenrodyellow;
 }

 /* Bordered form */
 form {
    border: 4px solid #f1f1f1;
    border-color: lightgrey;
  }
  
  /* Full-width inputs */
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 0.65% 1%;
    margin: 0.45% 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button, input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 0.6% 1%;
    margin: 0.45% 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: medium;
  }
  
  /* Add a hover effect for buttons */
  button:hover, input[type=submit]:hover {
    opacity: 0.8;
  }
  
  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 0.6% 1%;
    background-color: #f44336;
  }
  
  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 1.2% 0 0.7% 0;
  }
  
  /* Avatar image */
  img.avatar {
    width: 23%;
    height: 20%;
    border-radius: 50%;
  }
  
  /* Add padding to containers */
  .container {
    padding: 0.85%;
  }
  
  /* The "Forgot password" text */
  /* span.psw {
    float: right;
    padding-top: 0.85%;
  } */