<!DOCTYPE html>
<html>
<head>
    <title>Employee Details </title>

    <a href="{{ url_for('admin_home_page', e_id=e_id) }}"> Back to Home Page</a>
    <br>
    <br><center>
    <h1>Employee Details </h1>
</head>
<body bgcolor="lightgoldenrodyellow">
    

<table border="15%">
    <th>ID</th>
    <th>Name</th>
    <th>Address</th>
    <th>Date of Birth</th>
    <th>Salary</th>
    <th>Email</th>
    <th>Password</th>

    {% for emp in emps %}
        <tr>
            <td>{{ emp.e_id }}</td>
            <td><a href="{{ url_for('emp_phonenum', e_id=e_id, e_name=emp.e_name, e_id1=emp.e_id) }}">{{ emp.e_name }}</a></td>
            <td>{{ emp.e_address }}</td>
            <td>{{ emp.e_dob }}</td>
            <td>{{ emp.e_salary }}</td>
            <td>{{ emp.e_email }}</td>
            <td>{{ emp.e_password }}</td>
        </tr>
    {% endfor %}
</table>
<br>
<br>
<form method="post" action="/admin/{{ e_id }}/employee/view">
    <label for="action"><b>Select Action:</b></label>
    <select name="action" id="action">
        <option value="insert">Insert</option>
        <option value="delete">Delete</option>
        <option value="update">Update</option>
        
    </select><br>
    <br>

    <label for="eid"><b>Employee ID:</b></label>
    <input type="number" name="eid" placeholder="Enter Employee ID" required><br><br>

    <label for="ename"><b>Employee Name:</b></label>
    <input type="text" name="ename" placeholder="Enter Employee Name"><br><br>

    <label for="eaddress"><b>Employee Address:</b></label>
    <input type="text" name="eaddress" placeholder="Enter Employee Address"><br><br>

    <label for="edob"><b>Date of Birth:</b></label>
    <input type="date" name="edob"><br><br>

    <label for="esalary"><b>Employee Salary:</b></label>
    <input type="number" name="esalary" placeholder="Enter Employee Salary"><br><br>

    <label for="eemail"><b>Employee Email:</b></label>
    <input type="text" name="eemail" placeholder="Enter Employee Email"><br><br>

    <label for="epassword"><b>Employee Password:</b></label>
    <input type="text" name="epassword" placeholder="Enter Employee Password"><br><br>

    <label for="ephone"><b>Employee Phone Number:</b></label>
    <input type="number" name="ephone" placeholder="Enter Phone No."><br><br>

    <br>
    <input type="submit" name="submit" value="Submit"><br>
</form>

</body></center>
</html>
