<!DOCTYPE html>
<html>
<head>
    <title>Driver Phone Numbers</title>
    <a href="{{ url_for('admin_home_page', e_id=e_id) }}"> Back to Home Page</a>
    <br>
    <a href="{{ url_for('driver_page', e_id=e_id) }}"> Back</a>
    <br>
    <h1>Driver Contact Details</h1>
</head>
<body bgcolor="lightgoldenrodyellow">
    <p>Phone number  for {{ d_name }}:</p>
    <ol>
        {% for number in ph_num %}
            <li>{{ number }}</li>
        {% endfor %}
    </ol>

    <br>
    <p>
        Enter new contact:
    </p>
    <form name="DriverContact" method="post">
        <br>
        <label for="action">Select Action:</label>
        <select name="action" id="action">
            <option value="insert">Insert</option>
            <option value="delete">Delete</option>
        </select>
        <br>
        <br>
        <input type="number" name="d_phone" placeholder="enter phone number" required><br>
        <br>
        <input type="submit" name="submit" value=" SUBMIT "><br>
    </form>
</body>
</html>
