<!DOCTYPE html>
<html>
    <head>
        <title>admin Home Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/AdminHomePage.css') }}">

    </head>

    <body >
        <div class="mid">
            <div class="header">
                Welcome {{AdminPro.name}}
            </div>
        </div>

        <div class="row1">
            <div class="drop">
                <button class="bookings">Bookings</button>
                    <div class="drpcont">
                        <a href="/admin/bookings/Pastbook"> Past Bookings</a>
                        <a href="/admin/bookings/newBook">New Bookings</a>
                        <a href="/admin/booking/CurBooking">Current Booking</a>
                    </div>
            </div>
          
                
                    
                <a href="/admin/Employee/view"> 
                    <button class="emp"> Employees</button>
                </a>
                        
                
            
                <a href="/admin/customer">
                <button class="cust">Customers</button>
                </a>
        </div>

        <div class="row2">
        
                <a href="/admin/driver/view"> 
                    <button class="driver">Drivers</button>
                </a>
                    
            
                <a href="/admin/view-cars">
                    <button class="car"> Cars</button>
                </a>   <!-- /admin/car/view-->
                    
            
                <a href="/admin/panalties">
                <button class="panal">Panalties</button>
                </a>
        </div>


    

    </body>
</html>