<!DOCTYPE html>
<html>
    <head>
        <title>Admin Home Page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/AdminHomePage.css') }}">

    </head>

    <body >
        <div class="mid">
            <div class="header">
                <h1>Welcome</h1>
            </div>
        </div>

        <div class="row1">
            <div class="drop">
                <button class="bookings">Bookings</button>
                    <div class="drpcont">
                        <a href="past-bookings">Past Bookings</a>
                        <a href="new-bookings">New Bookings</a>
                        <a href="current-bookings">Current Booking</a>
                    </div>
            </div>
            <div class="drop2">
                <button class="emp"> Employees</button>
                    <div class="drpcont2">
                        <a href="employee/view"> View Data</a>
                        <a href="employee/edit">Edit Data</a>
                    </div>
            </div>
                <a href="customer">
                <button class="cust">Customers</button>
                </a>
        </div>

        <div class="row2">
            <div class="drop3">
                <button class="driver">Drivers</button>
                    <div class="drpcont3">
                        <a href="view"> View Data</a>
                        <a href="edit">Edit Data</a>
                    </div>
            </div>
            
                
                    
                        <a href="/admin/view-cars">
                            <button class="car"> Cars</button>
                        </a>   <!-- /admin/car/view-->
                    
            
                <a href="data-analysis">
                <button class="panal">Data Analysis</button>
                </a>
        </div>


    

    </body>
</html>