<!DOCTYPE html>
<html>
    <head>
        <title>CAR EDIT</title>
        <h1>Car edit </h1>
    </head>
    
    <body>
        <form name="CarEdit" method="post" onsubmit="">

            <label for="action">Select Action:</label>
            <select name="action" id="action">
                <option value="insert">Insert</option>
                <option value="delete">Delete</option>
            </select>
            <input type="text" name="c_vid" placeholder="enter vid"><br>
            <input type="text" name="c_type" placeholder="enter type"><br>
            <input type="text" name="c_model" placeholder="model"><br>
            <input type="text" name="c_nplate" placeholder="number plate"><br>
            
            <input type="submit" name="submit"  value=" SUBMIT "><br>
            


        </form>
    </body>
</html>