<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>All Bookings</title>

        {% if status == 0 %}
        <h1>Past Bookings</h1>
        {% endif %}

        {% if status == -1 %}
        <h1>New Bookings</h1>
        {% endif %}

        {% if status == 1 %}
        <h1>Current Bookings</h1>
        {% endif %}

        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/EmployeePastBookings.css') }}">
    </head>
    
    <body bgcolor="lightgoldenrodyellow">
        {% if all %}
        <table border="10%" class="table">
            <tr>
                <th>Booking ID</th>
                <th>Customer Name</th>
                <th>Customer Email</th>
                {% if status == 0 or status == 1 %}
                    <th>Driver Name</th>
                    <th>Driver Email</th>
                    <th>Employee Name</th>
                    <th>Employee Email</th>
                {% endif %}
                <th>From</th>
                <th>To</th>
                <th>Car Type</th>
                <th>Car Model</th>
                <th>Car Number Plate</th>
                <th>Amount</th>
                {% if status == 0 %}
                    <th>Penalty</th>
                    <th>Description</th>
                {% endif %}
            </tr>
            {% for booking in bookings %}
            <tr>
                <td>{{ booking.b_id }}</td>
                <td>{{ booking.c_name }}</td>
                <td>{{ booking.c_email }}</td>
                {% if status == 0 or status == 1 %}
                    <td>{{ booking.d_name }}</td>
                    <td>{{ booking.d_email }}</td>
                    <td>{{ booking.e_name }}</td>
                    <td>{{ booking.e_email }}</td>
                {% endif %}
                <td>{{ booking.from }}</td>
                <td>{{ booking.to }}</td>
                <td>{{ booking.type }}</td>
                <td>{{ booking.model }}</td>
                <td>{{ booking.np }}</td>
                <td>{{ booking.amount }}</td>
                {% if status == 0 %}
                    <td>{{ booking.penalty }}</td>
                    <td>{{ booking.desc }}</td>
                {% endif %}
            </tr>
            {% endfor %}
        </table><br>
        <div class="button">
            <a href="{{ url_for('admin_home_page', e_id=e_id) }}"><button>Home</button></a>
        </div>
        <form name="Admindata" method="post" onsubmit="">
            <div class="drop">
                <button class="dropdown">Choose Filter: </button>
            <div class="dropdown-content">
            <input type="radio" name="filter" id="from_date" value="from_date" required>From Date<br>
            <input type="radio" name="filter" id="to_date" value="to_date" required>To Date<br>
            <input type="radio" name="filter" id="c_fname" value="c_fname" required>Customer name <br>
            <input type="radio" name="filter" id="d_name" value="d_name" required>Driver Name<br>
            <input type="radio" name="filter" id="d_email" value="d_email" required>Driver Email<br>
            <input type="radio" name="filter" id="e_name" value="e_name" required>Employee Name<br>
            <input type="radio" name="filter" id="e_email" value="e_email" required>Employee Email<br>
            <input type="radio" name="filter" id="v_type" value="v_type" required>Car Type<br>
            <input type="radio" name="filter" id="v_model" value="v_model" required>Car Model<br>
            <input type="radio" name="filter" id="v_numberplate" value="v_numberplate" required>Number Plate
            </div></div>
            <br>
            <br>
            <b>Enter Value: </b><input type="text" name="content">
            <br><br>
            <input type="submit" value="search">
        </form>
        {% endif %}
    </body>
</html>