<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/RegisterPage.css') }}">
    <body>

        <form name="register" method="post" onsubmit="">
          <div class="container">
            <h1>Register</h1>
            <p>Please fill in this form to create an account.</p>
            <hr>

            <label for="full-name"><b>Full Name</b></label>
            <input type="text" placeholder="Enter Full Name" name="full-name" id="full-name" required>

            <label for="phone-number"><b>Phone Number</b></label>
            <input type="text" placeholder="Enter Phone Number" name="phone-number" id="phone-number" required>

            <label for="address"><b>Address</b></label>
            <input type="text" placeholder="Enter Address" name="address" id="address" required>

            <label for="dob"><b>Date of Birth</b></label><br>
            <input type="date" placeholder="Enter Date of Birth" name="dob" id="dob" required><br><br>
        
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" id="email" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" id="psw" required>
        
            <label for="psw-repeat"><b>Repeat Password</b></label>
            <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
            <hr>
        
            <input type="submit" class="registerbtn" value="register">
          </div>
          </form>
          <div class="container signin">
            <p>Already have an account? <a href="{{ url_for('login_customer') }}">Sign in</a>.</p>
          </div>
        
        
    </body>
</html>