<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Employee Home</title>
        <!-- <h1>WELCOME</h1> -->
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/EmployeeViewProfile.css') }}">
    </head>
    <body>
        <div class="card">
            <h1>John Doe</h1>
            <p><b>Address:</b></p>
            <p>Mulund</p><br>
            <p><b></b>Date of Birth:</b></p>
            <p>2003-09-01</p><br>
            <p><b>Salary:</b></p>
            <p>10000</p><br>
            <p><b>Email:</b></p>
            <p>roshan1@employee.crm</p><br>
          </div>
    </body>
</html>