<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/LandingPage.css') }}">
    <head>
        <h1>WELCOME TO RENTPRO</h1>
    </head>
    <body>
        <form name="landing_page" method="post" onsubmit=""></form>
            <div class="drop">
                <button class="dropdown">Staff</button>
                <div class="dropdown-content">
                    <div><input type="radio" name="input" value="admin">admin</div>
                    <div><input type="radio" name="input" value="manager">manager</div>
                    <div><input type="radio" name="input" value="driver">driver</div>
                </div>
            </div>
            <input type="radio" name="input" value="admin" class="customer" id="customer"><label for="customer" class="customer_label">Customer</label><br>
            <a href="/login"><button class="login">Login</button></a>
        </form>
    </body>
</html>