<!DOCTYPE html>
<html>

    <head>
        <title>Driver Home Page</title>
        <h1>Welcome {{ driverInfo.name }}</h1>    
    </head>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/DriverHomePage.css') }}">
    <body>
        <div class="row">
            <a class="link" href="driver/{{ driverInfo.did }}/profile">
                <button class="profile">Profile</button> 
            </a>
            <a class="link" href="/driver/past-trips">
                <button class="past_trips">Past trips</button> 
            </a>
            <a class="link" href="/driver/upcoming-trips">
                <button class="up_trips">Upcoming trips</button> 
            </a>
        </div>
    </body>
</html>
