<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Employee View Maintainance</title>
        <h1>View Maintainance</h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/EmployeePastBookings.css') }}">
    </head>
    <body bgcolor="lightgoldenrodyellow">
        <table border="10%" class="table">
            <tr>
                <th>Vehicle ID</th>
                <th>Vehicle Type</th>
                <th>Vehicle Model</th>
                <th>Number Plate</th>
                <th>Date</th>
                <th>Amount</th>
            </tr>
            {% for m in ml %}
            <tr>
                <td>{{ m.v_id }}</td>
                <td>{{ m.v_type }}</td>
                <td>{{ m.v_model }}</td>
                <td>{{ m.v_np }}</td>
                <td>{{ m.m_date }}</td>
                <td>{{ m.m_amount }}</td>
            </tr>
            {% endfor %}
        </table><br>
        <div class="button">
            <a href="{{ url_for('employee_home_page', e_id=e_id) }}"><button>Home</button></a>
        </div>
    </body>
</html>