<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Employee All Bookings</title>
        <h1>New Bookings</h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/EmployeePastBookings.css') }}">
    </head>
    <body bgcolor="lightgoldenrodyellow">
        <form action=""></form>
        <table border="10%" class="table">
            <tr>
                <th>Booking ID</th>
                <th>Customer Name</th>
                <th>Customer Email</th>
                <th>Driver</th>
                <th>From</th>
                <th>To</th>
                <th>Car Type</th>
                <th>Car Model</th>
                <th>Car Number Plate</th>
                <th>Amount</th>
            </tr>
            {% for booking in bookings %}
            <tr>
                <form name="{{ booking.b_id }}" method="post">
                    <td>{{ booking.b_id }}</td>
                    <td>{{ booking.c_name }}</td>
                    <td>{{ booking.c_email }}</td>
                    {% if booking.d_id == 0 %}
                        <td>
                            <select id="did" name="did">
                                {% for driver in drivers %}
                                    <option value="{{ driver.d_id }}">{{ driver.d_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    {% endif %}
                    {% if booking.d_id == -1 %}
                        <input type="hidden" name="did" value="-1">
                        <td>None</td>
                    {% endif %}
                    <td>{{ booking.from }}</td>
                    <td>{{ booking.to }}</td>
                    <td>{{ booking.type }}</td>
                    <td>{{ booking.model }}</td>
                    <td>{{ booking.np }}</td>
                    <td>{{ booking.amount }}</td>
                    <input type="hidden" name="bid" value="{{ booking.b_id }}">
                    <input type="hidden" name="eid" value="{{ e_id }}">
                    <td><input type="submit" value="Confirm Booking" name="confirm"></td>
                    <!-- <td><input type="submit" value="Deny" name="confirm"></td> -->
                </form>
            </tr>
            {% endfor %}
        </table><br>
        <div class="button">
            <a href="{{ url_for('employee_home_page', e_id=e_id) }}"><button>Home</button></a>
        </div>
    </body>
</html>