<!DOCTYPE html>
<html>
    <head>
        <title>new trip</title>
        <h1>Book a Trip</h1>
    </head>
    {% if carselect %}
    <body>
        <form name="CustomerHomePage" method="post" onsubmit="">
            <table border="10%">
                <tr>
                    <th>select</th>
                    <th>type</th>
                    <th>amount per day</th>
                </tr>
                
                {% for car in cars %}
                <tr>
                    <td>
                    <input type="radio" name="cartype" id="{{ car.type }}" value="{{ car.type }}"></td>
                    <td>{{ car.type}}</td>
                    <td>{{ car.amt }}</td>
                </tr>
                {% endfor %}
            </table><br>
            <input type="submit" value="continue booking">
            
        </form>
    </body>
    {% else %}
    <body>
        <form name="CustomerHomePage" method="post" onsubmit="">
            from: <input type="date" name="from" required><br>
            to: <input type="date" name="to" required><br>
            choose car: <br>

            {%for car in cars%}
                <input type="radio" name="car" id="{{ car }}" value="{{ car }}">{{ car }}<br> 
            {% endfor %}

            driver: <input type="radio" name="driver" id="y" value="y">yes
            <input type="radio" name="driver" id="n" value="n">no <br>
            driver charges: 1000 additional
            <input type="submit" value="proceed to checkout">

        </form>
    </body>
    {% endif -%}
</html>