<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Customer Home Page</title>
        <h1>WELCOME</h1>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/CustomerHomePage.css') }}">
    </head>
    <body>
        <center>
        <a href="booking-portal/select-car-type">Book a New Trip</a> <br> <br>
        <a href="trips">View Past Trips</a> <br> <br>
        <a href="profile">View Profile</a> <br> <br>
        <a href="{{ url_for('landing_page') }}"><button>Logout</button></a>
        <br><br>

        <div class="row">
            <div class="column">
        <img src="/static/images/suv.jpeg" height="50%" width="50%"> <br>
        <b>SUVs</b>
        </div>
        <div class="column">
        <img src="/static/images/sedan.jpg" height="50%" width="50%"> <br>
        <b>Sedans </b>
        </div>
        <div class="column">
        <img src="/static/images/hatchback.jpg" height="50%" width="50%"> <br>
        <b>Hatchbacks </b>
        </div>
        </div>
        <h3>And Many More</h3></center>
    </body>
</html>